<h1>create new cocktail</h1>
<%= render 'form' %>

<h1>list of cocktails</h1>

<% @cocktails.each do |cocktail| %>
  <h2><%= cocktail.name %></h2>
  <%= link_to cocktail.name, cocktail_path(cocktail) %>
  <%= link_to "Edit", edit_cocktail_path(cocktail) %>
  <%= link_to "Delete", cocktail_path(cocktail),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
<% end %>
